<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Xdev</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</head>
<body>
	<!-- create navigation bar ( header) -->
	<!-- Header potisuwan -->
	<div th:replace="~{fragments/header :: header}"></div>

	<!-- Header potisuwan -->

	<!-- Body potisuwan -->
	<h1>ds</h1>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit role</h5>
				</div>
				<div class="card-body">
					<form th:action="@{/role_update}" method="post" id="role_update"
						th:object="${emp}">

						<input type="hidden" th:value="${emp.id}" name="id">
						<div class="form-group">
							<label>Role</label> <input type="text" class="form-control"
								name="role" th:value="${emp.role}">
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button class="btn btn-success btn-block" form="role_update">Save</button>
					<a class="btn btn-secondary" data-bs-dismiss="modal"
						href="/role_all">Cancer</a>
				</div>
			</div>
		</div>
	<!-- Body potisuwan -->

	<!-- Footer potisuwan -->

	<div th:replace="~{fragments/footer :: footer}"></div>
	<!-- Footer potisuwan -->

</body>
</html>
